{% extends "events/base.html" %}


{% block title %}{{ event.title }} - {{ block.super }}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  {% if event and not event.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if event.meta_description %}<meta name="description" content="{{ event.meta_description }}" />{% endif %}
{% endblock %}


{% block content %}

  <h1>{{ event.heading }}</h1>
  {% if not event.end_at %}
    <h2>{{ event.start_at|date:"DATETIME_FORMAT" }}</h2>
  {% else %}
    {% ifequal event.start_at.date event.end_at.date %}
      {% ifequal event.start_at.time event.end_at.time %}
        <h2>{{ event.start_at|date:"DATETIME_FORMAT" }}</h2>
      {% else %}
        <h2>{{ event.start_at|date:"DATETIME_FORMAT" }} to {{ event.end_at|date:"TIME_FORMAT" }}</h2>
      {% endifequal %}
    {% else %}
      <h2>{{ event.start_at|date:"DATETIME_FORMAT" }} to {{ event.end_at|date:"DATETIME_FORMAT" }}</h2>
    {% endifequal %}
  {% endif %}

  {% if event.featured_content %}<div>{{ event.featured_content }}</div>{% endif %}
  {% if event.content %}<div>{{ event.content|safe }}</div>{% endif %}

{% endblock %}

